@{
    ViewBag.Title = "Contactanos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Managua<br />
    Nicaragua<br />
    <abbr title="Phone">P:</abbr>
    +505 7789 0960
    <abbr title="Phone">P:</abbr>
    +505 7789 0960
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>